In [30]:
import pandas as pd

In [31]:
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv("C:\\Users\\lokesh.s\\Downloads\\flipkart 5g phones\\5gPhones.csv")

In [33]:
df

,Unnamed: 0,name,processed_battery,ram_processed,rom_processed,back_camera_processed,front_camera_processed,screen_processed,brand,price_processed
0,1,"vivo T2x 5G (Glimmer Black, 128 GB)",5000,8,128,50,8.0,16.71,vivo,15999
1,2,"vivo T2x 5G (Aurora Gold, 128 GB)",5000,8,128,50,8.0,16.71,vivo,15999
2,3,"vivo T2x 5G (Marine Blue, 128 GB)",5000,6,128,50,8.0,16.71,vivo,13999
3,4,"vivo T2x 5G (Aurora Gold, 128 GB)",5000,4,128,50,8.0,16.71,vivo,12999
4,5,"vivo T2x 5G (Marine Blue, 128 GB)",5000,4,128,50,8.0,16.71,vivo,12999
...,...,...,...,...,...,...,...,...,...,...
613,715,"Tecno Phantom V fold 5G (Black, 256 GB)",5000,12,256,50,NaN,16.31,Tecno,88888
614,716,"OnePlus 11 5G (Eternal Green, 256 GB)",5000,16,256,50,NaN,17.02,OnePlus,59890
615,717,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",4500,8,128,50,NaN,17.02,OnePlus,28047
616,718,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",4500,8,128,50,NaN,17.02,OnePlus,27822
617,719,"OnePlus 10 Pro 5G (Emerald Forest, 128 GB)",5000,8,128,48,NaN,17.02,OnePlus,49999

In [9]:
df = tail()

NameError: name 'tail' is not defined

In [10]:
df.tail()

,Unnamed: 0,name,processed_battery,ram_processed,rom_processed,back_camera_processed,front_camera_processed,screen_processed,brand,price_processed
613,715,"Tecno Phantom V fold 5G (Black, 256 GB)",5000,12,256,50,NaN,16.31,Tecno,88888
614,716,"OnePlus 11 5G (Eternal Green, 256 GB)",5000,16,256,50,NaN,17.02,OnePlus,59890
615,717,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",4500,8,128,50,NaN,17.02,OnePlus,28047
616,718,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB)",4500,8,128,50,NaN,17.02,OnePlus,27822
617,719,"OnePlus 10 Pro 5G (Emerald Forest, 128 GB)",5000,8,128,48,NaN,17.02,OnePlus,49999

In [34]:
df['name'] = df['name'].str.replace(r"\(.*\)", "", regex=True)

In [35]:
df

,Unnamed: 0,name,processed_battery,ram_processed,rom_processed,back_camera_processed,front_camera_processed,screen_processed,brand,price_processed
0,1,vivo T2x 5G,5000,8,128,50,8.0,16.71,vivo,15999
1,2,vivo T2x 5G,5000,8,128,50,8.0,16.71,vivo,15999
2,3,vivo T2x 5G,5000,6,128,50,8.0,16.71,vivo,13999
3,4,vivo T2x 5G,5000,4,128,50,8.0,16.71,vivo,12999
4,5,vivo T2x 5G,5000,4,128,50,8.0,16.71,vivo,12999
...,...,...,...,...,...,...,...,...,...,...
613,715,Tecno Phantom V fold 5G,5000,12,256,50,NaN,16.31,Tecno,88888
614,716,OnePlus 11 5G,5000,16,256,50,NaN,17.02,OnePlus,59890
615,717,OnePlus Nord 2T 5G,4500,8,128,50,NaN,17.02,OnePlus,28047
616,718,OnePlus Nord 2T 5G,4500,8,128,50,NaN,17.02,OnePlus,27822
617,719,OnePlus 10 Pro 5G,5000,8,128,48,NaN,17.02,OnePlus,49999

In [36]:
df['name'].value_counts()

name
REDMI Note 12 5G                           12
SAMSUNG Galaxy M33 5G                      12
IQOO Z6 Lite 5G                            11
REDMI Note 12 Pro 5G                       10
REDMI Note 11T 5G                          10
                                           ..
SAMSUNG Galaxy S23 Ultra 5G Smartphone      1
Tecno Camon 20 Pro                          1
SAMSUNG A52s                                1
REDMI Note 10 JE 5G                         1
Tecno Phantom V fold 5G                     1
Name: count, Length: 171, dtype: int64