In [1]:
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("C:\\Users\\lokesh.s\\Downloads\\predict sales data\\Sales_November_2019.csv")
print(df)

      Order ID                     Product Quantity Ordered Price Each  \
0       278797            Wired Headphones                1      11.99
1       278798        USB-C Charging Cable                2      11.95
2       278799    Apple Airpods Headphones                1      150.0
3       278800            27in FHD Monitor                1     149.99
4       278801  Bose SoundSport Headphones                1      99.99
...        ...                         ...              ...        ...
17656   295660      AAA Batteries (4-pack)                2       2.99
17657   295661        USB-C Charging Cable                1      11.95
17658   295662    Lightning Charging Cable                1      14.95
17659   295663      AAA Batteries (4-pack)                1       2.99
17660   295664                Google Phone                1        600

           Order Date                      Purchase Address
0      11/21/19 09:54   46 Park St, New York City, NY 10001
1      11/17/19 10:03      962 Hickory St, Austin, TX 73301
2      11/19/19 14:56  464 Cherry St, Los Angeles, CA 90001
3      11/25/19 22:24        649 10th St, Seattle, WA 98101
4      11/09/19 13:56         522 Hill St, Boston, MA 02215
...               ...                                   ...
17656  11/04/19 14:17     574 4th St, Los Angeles, CA 90001
17657  11/23/19 07:22          359 1st St, Austin, TX 73301
17658  11/13/19 16:12         900 10th St, Boston, MA 02215
17659  11/17/19 17:08       592 Sunset St, Boston, MA 02215
17660  11/17/19 16:13      428 Jackson St, Boston, MA 02215

[17661 rows x 6 columns]

In [4]:
df = df.dropna(how='all')
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001"
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301"
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001"
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101"
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215"
...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,11/04/19 14:17,"574 4th St, Los Angeles, CA 90001"
17657,295661,USB-C Charging Cable,1,11.95,11/23/19 07:22,"359 1st St, Austin, TX 73301"
17658,295662,Lightning Charging Cable,1,14.95,11/13/19 16:12,"900 10th St, Boston, MA 02215"
17659,295663,AAA Batteries (4-pack),1,2.99,11/17/19 17:08,"592 Sunset St, Boston, MA 02215"
17660,295664,Google Phone,1,600,11/17/19 16:13,"428 Jackson St, Boston, MA 02215"

In [5]:
df['Product'].value_counts()

Product
USB-C Charging Cable          2062
Lightning Charging Cable      2050
AAA Batteries (4-pack)        2003
AA Batteries (4-pack)         1974
Wired Headphones              1787
Apple Airpods Headphones      1499
Bose SoundSport Headphones    1237
27in FHD Monitor               709
iPhone                         663
27in 4K Gaming Monitor         578
34in Ultrawide Monitor         548
Google Phone                   492
Flatscreen TV                  458
Macbook Pro Laptop             440
20in Monitor                   420
ThinkPad Laptop                374
Vareebadd Phone                177
LG Dryer                        56
LG Washing Machine              53
Product                         36
Name: count, dtype: int64

In [6]:
df = df.drop_duplicates()

In [7]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001"
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301"
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001"
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101"
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215"
...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,11/04/19 14:17,"574 4th St, Los Angeles, CA 90001"
17657,295661,USB-C Charging Cable,1,11.95,11/23/19 07:22,"359 1st St, Austin, TX 73301"
17658,295662,Lightning Charging Cable,1,14.95,11/13/19 16:12,"900 10th St, Boston, MA 02215"
17659,295663,AAA Batteries (4-pack),1,2.99,11/17/19 17:08,"592 Sunset St, Boston, MA 02215"
17660,295664,Google Phone,1,600,11/17/19 16:13,"428 Jackson St, Boston, MA 02215"

In [8]:
index = df[df['Price Each'] == 'Price Each'].index[0]
print(index)

1172

In [10]:
df = df.drop(1172)

In [11]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001"
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301"
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001"
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101"
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215"
...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,11/04/19 14:17,"574 4th St, Los Angeles, CA 90001"
17657,295661,USB-C Charging Cable,1,11.95,11/23/19 07:22,"359 1st St, Austin, TX 73301"
17658,295662,Lightning Charging Cable,1,14.95,11/13/19 16:12,"900 10th St, Boston, MA 02215"
17659,295663,AAA Batteries (4-pack),1,2.99,11/17/19 17:08,"592 Sunset St, Boston, MA 02215"
17660,295664,Google Phone,1,600,11/17/19 16:13,"428 Jackson St, Boston, MA 02215"

In [12]:
df['Price Each'].value_counts()

Price Each
11.95     2054
14.95     2047
2.99      1998
3.84      1973
11.99     1781
150       1491
99.99     1234
149.99     708
700        660
389.99     578
379.99     548
600        491
300        455
1700       439
109.99     420
999.99     374
400        176
600.0      109
150.0        7
700.0        3
300.0        2
400.0        1
1700.0       1
Name: count, dtype: int64

In [13]:
date_format = '%m/%d/%y %H:%M'
df['datetime'] = pd.to_datetime(df['Order Date'], format=date_format)

In [14]:
df['date'] = df['datetime'].dt.date
df['time'] = df['datetime'].dt.time

In [15]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,datetime,date,time
0,278797,Wired Headphones,1,11.99,11/21/19 09:54,"46 Park St, New York City, NY 10001",2019-11-21 09:54:00,2019-11-21,09:54:00
1,278798,USB-C Charging Cable,2,11.95,11/17/19 10:03,"962 Hickory St, Austin, TX 73301",2019-11-17 10:03:00,2019-11-17,10:03:00
2,278799,Apple Airpods Headphones,1,150.0,11/19/19 14:56,"464 Cherry St, Los Angeles, CA 90001",2019-11-19 14:56:00,2019-11-19,14:56:00
3,278800,27in FHD Monitor,1,149.99,11/25/19 22:24,"649 10th St, Seattle, WA 98101",2019-11-25 22:24:00,2019-11-25,22:24:00
4,278801,Bose SoundSport Headphones,1,99.99,11/09/19 13:56,"522 Hill St, Boston, MA 02215",2019-11-09 13:56:00,2019-11-09,13:56:00
...,...,...,...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,11/04/19 14:17,"574 4th St, Los Angeles, CA 90001",2019-11-04 14:17:00,2019-11-04,14:17:00
17657,295661,USB-C Charging Cable,1,11.95,11/23/19 07:22,"359 1st St, Austin, TX 73301",2019-11-23 07:22:00,2019-11-23,07:22:00
17658,295662,Lightning Charging Cable,1,14.95,11/13/19 16:12,"900 10th St, Boston, MA 02215",2019-11-13 16:12:00,2019-11-13,16:12:00
17659,295663,AAA Batteries (4-pack),1,2.99,11/17/19 17:08,"592 Sunset St, Boston, MA 02215",2019-11-17 17:08:00,2019-11-17,17:08:00
17660,295664,Google Phone,1,600,11/17/19 16:13,"428 Jackson St, Boston, MA 02215",2019-11-17 16:13:00,2019-11-17,16:13:00

In [16]:
df = df.drop(columns=['datetime'])

In [17]:
df = df.drop(columns=['Order Date'])

In [18]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,date,time
0,278797,Wired Headphones,1,11.99,"46 Park St, New York City, NY 10001",2019-11-21,09:54:00
1,278798,USB-C Charging Cable,2,11.95,"962 Hickory St, Austin, TX 73301",2019-11-17,10:03:00
2,278799,Apple Airpods Headphones,1,150.0,"464 Cherry St, Los Angeles, CA 90001",2019-11-19,14:56:00
3,278800,27in FHD Monitor,1,149.99,"649 10th St, Seattle, WA 98101",2019-11-25,22:24:00
4,278801,Bose SoundSport Headphones,1,99.99,"522 Hill St, Boston, MA 02215",2019-11-09,13:56:00
...,...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,"574 4th St, Los Angeles, CA 90001",2019-11-04,14:17:00
17657,295661,USB-C Charging Cable,1,11.95,"359 1st St, Austin, TX 73301",2019-11-23,07:22:00
17658,295662,Lightning Charging Cable,1,14.95,"900 10th St, Boston, MA 02215",2019-11-13,16:12:00
17659,295663,AAA Batteries (4-pack),1,2.99,"592 Sunset St, Boston, MA 02215",2019-11-17,17:08:00
17660,295664,Google Phone,1,600,"428 Jackson St, Boston, MA 02215",2019-11-17,16:13:00

In [21]:
df = df.drop('Street Address', axis=1)

In [22]:
if 'Street Address' in df.columns:
    df = df.drop(columns=['Street Address'])
else:
    print(f"Column '{'Street Address'}' does not exist in the DataFrame.")

# Print the resulting DataFrame
print(df)

Column 'Street Address' does not exist in the DataFrame.
      Order ID                     Product Quantity Ordered Price Each  \
0       278797            Wired Headphones                1      11.99
1       278798        USB-C Charging Cable                2      11.95
2       278799    Apple Airpods Headphones                1      150.0
3       278800            27in FHD Monitor                1     149.99
4       278801  Bose SoundSport Headphones                1      99.99
...        ...                         ...              ...        ...
17656   295660      AAA Batteries (4-pack)                2       2.99
17657   295661        USB-C Charging Cable                1      11.95
17658   295662    Lightning Charging Cable                1      14.95
17659   295663      AAA Batteries (4-pack)                1       2.99
17660   295664                Google Phone                1        600

                           Purchase Address        date      time  \
0       46 Park St, New York City, NY 10001  2019-11-21  09:54:00
1          962 Hickory St, Austin, TX 73301  2019-11-17  10:03:00
2      464 Cherry St, Los Angeles, CA 90001  2019-11-19  14:56:00
3            649 10th St, Seattle, WA 98101  2019-11-25  22:24:00
4             522 Hill St, Boston, MA 02215  2019-11-09  13:56:00
...                                     ...         ...       ...
17656     574 4th St, Los Angeles, CA 90001  2019-11-04  14:17:00
17657          359 1st St, Austin, TX 73301  2019-11-23  07:22:00
17658         900 10th St, Boston, MA 02215  2019-11-13  16:12:00
17659       592 Sunset St, Boston, MA 02215  2019-11-17  17:08:00
17660      428 Jackson St, Boston, MA 02215  2019-11-17  16:13:00

                City  ZIP Code
0      New York City  NY 10001
1             Austin  TX 73301
2        Los Angeles  CA 90001
3            Seattle  WA 98101
4             Boston  MA 02215
...              ...       ...
17656    Los Angeles  CA 90001
17657         Austin  TX 73301
17658         Boston  MA 02215
17659         Boston  MA 02215
17660         Boston  MA 02215

[17550 rows x 9 columns]

In [23]:
df = df.drop('ZIP Code', axis=1)

In [24]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,date,time,City
0,278797,Wired Headphones,1,11.99,"46 Park St, New York City, NY 10001",2019-11-21,09:54:00,New York City
1,278798,USB-C Charging Cable,2,11.95,"962 Hickory St, Austin, TX 73301",2019-11-17,10:03:00,Austin
2,278799,Apple Airpods Headphones,1,150.0,"464 Cherry St, Los Angeles, CA 90001",2019-11-19,14:56:00,Los Angeles
3,278800,27in FHD Monitor,1,149.99,"649 10th St, Seattle, WA 98101",2019-11-25,22:24:00,Seattle
4,278801,Bose SoundSport Headphones,1,99.99,"522 Hill St, Boston, MA 02215",2019-11-09,13:56:00,Boston
...,...,...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,"574 4th St, Los Angeles, CA 90001",2019-11-04,14:17:00,Los Angeles
17657,295661,USB-C Charging Cable,1,11.95,"359 1st St, Austin, TX 73301",2019-11-23,07:22:00,Austin
17658,295662,Lightning Charging Cable,1,14.95,"900 10th St, Boston, MA 02215",2019-11-13,16:12:00,Boston
17659,295663,AAA Batteries (4-pack),1,2.99,"592 Sunset St, Boston, MA 02215",2019-11-17,17:08:00,Boston
17660,295664,Google Phone,1,600,"428 Jackson St, Boston, MA 02215",2019-11-17,16:13:00,Boston

In [25]:
df = df.drop('Purchase Address', axis=1)

In [26]:
df

,Order ID,Product,Quantity Ordered,Price Each,date,time,City
0,278797,Wired Headphones,1,11.99,2019-11-21,09:54:00,New York City
1,278798,USB-C Charging Cable,2,11.95,2019-11-17,10:03:00,Austin
2,278799,Apple Airpods Headphones,1,150.0,2019-11-19,14:56:00,Los Angeles
3,278800,27in FHD Monitor,1,149.99,2019-11-25,22:24:00,Seattle
4,278801,Bose SoundSport Headphones,1,99.99,2019-11-09,13:56:00,Boston
...,...,...,...,...,...,...,...
17656,295660,AAA Batteries (4-pack),2,2.99,2019-11-04,14:17:00,Los Angeles
17657,295661,USB-C Charging Cable,1,11.95,2019-11-23,07:22:00,Austin
17658,295662,Lightning Charging Cable,1,14.95,2019-11-13,16:12:00,Boston
17659,295663,AAA Batteries (4-pack),1,2.99,2019-11-17,17:08:00,Boston
17660,295664,Google Phone,1,600,2019-11-17,16:13:00,Boston

In [28]:
df.to_excel('november.xlsx', index=False)